# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1,4, size= 100))
s2 = pd.Series(np.random.randint(1,3, size= 100))
s3 = pd.Series(np.random.randint(10000,30000, size= 100))
s1

0     2
1     1
2     2
3     1
4     2
     ..
95    2
96    1
97    3
98    1
99    3
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [16]:
df = pd.concat([s1, s2, s3], axis = 1) # we use axis = 1 to merge along the columns
df

    0  1      2
0   3  1  16792
1   1  2  18556
2   2  1  15600
3   1  1  27175
4   1  1  22414
.. .. ..    ...
95  2  2  16494
96  2  1  16719
97  3  2  10655
98  3  1  10715
99  3  1  26531

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [18]:
df.columns = ['bedrs' , 'bathrs', 'price_sqr_meter']
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       1            16792
1      1       2            18556
2      2       1            15600
3      1       1            27175
4      1       1            22414

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [19]:
bigcolumn = pd.concat([s1,s2,s3])
bigcolumn

0         3
1         1
2         2
3         1
4         1
      ...
95    16494
96    16719
97    10655
98    10715
99    26531
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [20]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [37]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          3
1          1
2          2
3          1
4          1
       ...
295    16494
296    16719
297    10655
298    10715
299    26531
Length: 300, dtype: int32